.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 20px;
  /* z-index: 500; */
}

.team .team_member {
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
  height: 200px;
}

.team .team_member h3 {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
}

.team .team_member p.role {
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member p.rating {
  color: #ccc;
  margin: 12px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.team .team_member .team_img {
  background: #fff;
}

.team .team_member .team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}

.team {
    position: relative;
}

.team:hover .hideText {
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
}

.team .hideText {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* padding: 12px; */
    background: #fff;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    /* box-sizing: border-box; */
    overflow: hidden;
}

.hideText p {
    margin: 10px 0 0;
    /* padding: 1em 1em; */
    transform: translateY(2em);
    line-height: 1.2em;
    transition: 0.3s;
    text-align: center;
    opacity: 0;
}

.team:hover .hideText p {
    transform: translateY(0);
    opacity: 1;
}